<h2 mat-dialog-title>Register</h2>
<mat-dialog-content>
  <form (submit)="register()" class="fill-container">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" name="username" required />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        [type]="hide() ? 'password' : 'text'"
        name="password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="showPassword($event)"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="register()">
    Register
  </button>
</mat-dialog-actions>
